div.modal {
    display: none; /* Ukryj modal domyślnie */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.modal-content {
    background-color: var(--text-color-light);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 30px rgba(76, 175, 80, 0.9);
}

div.modal-content-invalid {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
}

div.modal-content h2 {
    margin-bottom: 20px;
}

div.modal-content label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: var(--text-color-dark);
}

div.modal-content input[type="text"],
div.modal-content input[type="password"],
div.modal-content input[type="email"],
div.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

div.modal-content textarea {
    resize: vertical;
}

div.modal-content input.invalid-input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #ffe6e6 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--error-text);
}
div.modal-content input.valid-input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #e6ffe6 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--button-hover);

}
/*div.modal-content input:invalid {*/
/*    border-color: red;*/
/*    background-color: #ffe6e6;*/
/*}*/

/*div.modal-content input:valid {*/
/*    border-color: green;*/
/*    background-color: #e6ffe6;*/
/*}*/

div.modal-content button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-background);
    color: var(--text-color-light);
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

div.modal-content button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

/* Przycisk zamykający modal */
span#close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

p.toggle-auth {
    margin-top: 15px;
    font-size: 0.9em;
}

p.toggle-auth a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

p.toggle-auth a:hover {
    text-decoration: underline;
}

/* Ukrycie formularza, który nie jest aktualnie aktywny */
div.auth-form {
    display: none;
}

div.modal-content div.auth-form {
    display: block;
}

