/* Podstawowe ustawienia */
* {
    margin: 0;
    /*padding: 0;*/  /* ol w postach nie działa */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #4caf50;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --background-light: #f9f9f9;
    --background-dark: #eaeaea;
    --border-color: #ddd;
    --hover-color: #d0d0d0;
    --post-data: #777;
    --error-background: #f8d7da;
    /*--error-border: #f5c6cb;*/
    --error-text: #e3192c;
    --delete-text: #e30619;
    --red-hover-text: #b51621;
    --button-background: #28a745;
    --button-hover: #218838;
    --buton-active: #388e3c;
    --bbcode-button-background: #d3d3d3;
    --bbcode-button-hover: #b0b0b0;
    --pagination-background: #ccc;
    --pagination-hover: #ddd;
    --readonly-input: #6c757d;
    --edited-input: #125ed1;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, input {
    font-size: initial;
    margin-top: initial;
    margin-bottom: initial;
    font-weight: initial;
    color: initial;
    line-height: initial;
}

p, a, li {
    line-height: initial;
    margin-bottom: initial;
}


/* Media Queries - Responsywnosc */
/*@media (max-width: 882px) {*/
/*    main {*/
/*        flex-direction: column;*/
/*    }*/

/*    nav, section, aside {*/
/*        margin: 0 0 20px 0;*/
/*    }*/
/*}*/

/*#wrapper {*/
/*    !*min-width: 1000px;*!*/
/*    !*max-width: 1200px;*!*/
/*    margin: 0 auto;*/
/*}*/

/* HEADER */
header {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 20px;
    text-align: center;
    position: relative; /* Pozwala na pozycjonowanie elementow wewnatrz */
}

header h1 {
    font-weight: bold;
    font-size: 2em;
    color: var(--text-color-light);
}

/* Przycisk do logowania */
header a#login-link {
    position: absolute;
    right: 20px;
    /* Wycentrowanie linku w piosnie wzgledem naglowka */
    top: 50%;
    transform: translateY(-50%);

    color: var(--text-color-light);
    font-size: 0.9em;
    text-decoration: none;
    padding: 8px 12px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    /*display: none;*/
}

header a#login-link:hover {
    background-color: var(--text-color-light);
    color: var(--primary-color);
}

/* Sekcja zalogowanego usera */
header div#user-menu {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 0.9em;
    padding: 8px 12px;
    border: 1px solid var(--text-color-light);
    border-radius: 5px;
}

header div#user-menu:hover {
    cursor: pointer;
}


header div#user-menu button#profile-button {
    color: var(--text-color-light);
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

header div#user-menu button#profile-button span.arrow {
    font-size: 0.75rem;
}

header div#user-menu ul#dropdown-menu {
    position: absolute;
    background-color: var(--text-color-light);
    border: 1px solid  var(--text-color-light);
    list-style: none;
    margin: 0;
    padding: 0;
    width: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    right: 0; /* Lista wyrowna sie do prawej krawdzi menu */
    z-index: 10;
}

header div#user-menu ul#dropdown-menu li:hover {
    background-color: var(--pagination-hover);
}

header div#user-menu ul#dropdown-menu li a {
    padding: 8px 12px;
    text-decoration: none;
    color: var(--text-color-dark);
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

header div.alert-danger,
header div.alert-success {
    position: absolute;
    left: 7.5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.8em;

    z-index: 10;

}


/* MAIN WRAP - kontener dla glownych sekcji */
main {
    display: flex;
    flex-grow: 1;
    padding: 20px 0;
    min-height: 80vh;
    /*min-width: 1200px;*/
    margin: 0 auto;
}

/* NAVIGATION */
nav {
    flex: 0.8;
    background-color: var(--background-dark);
    padding: 20px 0;
    margin-right: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

nav h3 {
    margin: 20px 0 10px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--pagination-background);
    color: var(--primary-color);
    font-size: 1.25em;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--border-color);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: var(--hover-color);
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color-dark);
    display: block;
    font-weight: bold;
    text-align: center;
    line-height: 1.2;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* MAIN SECTION */
section#main-section {
    flex: 3.4;
    background-color: var(--background-light);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
}

section#main-section h1, section#main-section h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

section#main-section h1 {
    font-weight: bold;
    font-size: 1.5em;
}

section#main-section p {
    margin-bottom: 20px;
    line-height: 1.8;
}

section#main-section img.language-image {
    width: 100px;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/*article.test-article {*/
/*    margin-bottom: 30px;*/
/*    padding: 10px;*/
/*    border: 1px solid black;*/
/*}*/

/* ASIDE */
aside {
    flex: 0.8;
    background-color: var(--background-dark);
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 15px;
}

aside section {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

aside h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: var(--primary-color);
    border-bottom: 2px solid var(--border-color);
    padding-bottom: 5px;
    font-weight: bold;
}

aside p {
    margin-bottom: 10px;
    font-size: 0.95em;
    line-height: 1.6;
}

aside ul {
    list-style-type: none;
    padding-left: 0;
}

aside ul li {
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
    font-size: 0.95em;
}

aside ul li:last-child {
    border-bottom: none;
}

aside ul li a {
    text-decoration: none;
    color: var(--text-color-dark);
    transition: color 0.3s ease;
}

aside ul li a:hover {
    color: var(--primary-color);
}

aside section h3 a {
    color: var(--primary-color);
    text-decoration: none;
}

aside section h3 a:hover {
    color: var(--text-color-dark);
}

footer {
    text-align: center;
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
    padding: 10px;
    font-size: 14px;
}

footer p a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: bold;
}

footer p a:hover {
    color: var(--hover-color);
    cursor: pointer;
}


/* Floaty wewnętrzne */
ul {
    /*list-style-type: none;*/
    margin: 15px;
}

ul li {
    margin: 10px 0;
}

p {
    line-height: 1.6;
}

/* PAGINATION */
nav.pagination {
    margin: 20px 0;
    text-align: center;
    display: block;
}

nav.pagination a,
nav.pagination span.pagination-active {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid var(--pagination-background);
    border-radius: 5px;
    background-color: var(--background-light);
    color: var(--text-color-dark);
    text-decoration: none;
}

nav.pagination a:hover {
    background-color: var(--pagination-hover);
}

nav.pagination span.pagination-active {
    background-color: var(--background-dark);
}