div.modal {
    display: none; /* Ukryj modal domyślnie */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

div.modal-content {
    background-color: var(--text-color-light);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;
    text-align: center;
    box-shadow: 0 0 30px rgba(76, 175, 80, 0.9);
}

div.modal-content-invalid {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
}

div.modal-content h2 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

div.modal-content label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    font-weight: bold;
    color: var(--text-color-dark);
}

div.modal-content input[type="text"],
div.modal-content input[type="password"],
div.modal-content input[type="email"],
div.modal-content textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
}

div.modal-content textarea {
    resize: vertical;
}

div.modal-content input.invalid-input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #ffe6e6 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--error-text);
}
div.modal-content input.valid-input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #e6ffe6 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--button-hover);
}

/*span.error-message {*/
/*    font-size: 0.9rem;*/
/*    color: var(--error-text);*/
/*    margin-top: 5px;*/
/*    display: block;*/
/*}*/
.error-message {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: #900;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
}
.error-message:active {
    /*padding: 0.3em;*/
}
/*div.modal-content input:invalid {*/
/*    border-color: red;*/
/*    background-color: #ffe6e6;*/
/*}*/

/*div.modal-content input:valid {*/
/*    border-color: green;*/
/*    background-color: #e6ffe6;*/
/*}*/

div.modal-content button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1em;
}

div#auth-modal button {
    background-color: var(--button-background);
    color: var(--text-color-light);
}

div.modal-content button:hover {
    cursor: pointer;
}

div#auth-modal button:hover {
    background-color: var(--button-hover);
}

form#register-form button#captcha-button {
    background-color: var(--red-hover-text);
}

form#register-form button[type="submit"] {
    margin-top: 10px;
    display: none;
}

/*form#register-form div#captcha-modal {*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

div#captcha-modal button#captcha-verify {
    margin-top: 10px;
}

/* Przycisk zamykający modal logowania/rejestracji */
span.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

p.toggle-auth {
    margin-top: 15px;
    font-size: 0.9em;
}

p.toggle-auth a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}

p.toggle-auth a:hover {
    text-decoration: underline;
}

/* Ukrycie formularza, który nie jest aktualnie aktywny */
div.auth-form {
    display: none;
}

div.modal-content div.auth-form {
    display: block;
}

.modal-container.active {
    display: flex;
}

/* Modal usun post/usera */
div.delete-modal,
div#change-user-activity-modal {
    font-weight: bold;
}

div.delete-modal div.modal-content {
    box-shadow: 0 0 30px rgba(255, 0, 0, 0.9);
}

div#change-user-activity-modal div.modal-content {
    box-shadow: 0 0 30px rgba(76, 175, 80, 0.9);
}

button.modal-button {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

button.cancel-button {
    background-color: var(--background-dark);
    color: var(--text-color-dark);
}

button.cancel-button:hover {
    background-color: var(--hover-color);
}

div.delete-modal button.confirm-button {
    background-color: var(--delete-text);
    color: var(--text-color-light);
}

div.delete-modal button.confirm-button:hover {
    background-color: var(--red-hover-text);
}

div#change-user-activity-modal button.confirm-button,
div#edit-user-modal button.confirm-button {
    background-color: var(--button-background);
    color: var(--text-color-light);
}

div#change-user-activity-modal button.confirm-button:hover,
div#edit-user-modal button.confirm-button:hover {
    background-color: var(--button-hover);
}

div#edit-user-modal button.confirm-button:disabled {
    cursor: not-allowed;
}

/* Modal zmiany aktywnosci konta */
