article#posts-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--pagination-background);
    border-radius: 5px;
    background-color: var(--background-light);
}

article#posts-section h3 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

div.posts-container {
    margin-top: 10px;
}

/* Style dla postow */
div.post {
    background-color: var(--text-color-light);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    /*padding: 10px 5px;*/
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

article h4.post-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.6em;
}

/*h4.post-category-name {*/
/*    font-style: italic;*/
/*    margin-bottom: 10px;*/
/*    font-size: 1em;*/
/*}*/

p.post-author {
    font-style: italic;
    color: var(--post-data);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
/*p*/
.post-content {
    margin-bottom: 10px;
    padding: 10px;
}

span.post-date, span.post-updated {
    font-size: 14px;
    color: var(--post-data);
    margin-left: 10px;
    text-align: right;
    font-style: italic;
}

/* Style dla pojedynczych komenatarzy w poscie */
div.post div.comment {
    border: 1px solid var(--border-color);
    background-color: var(--background-light);
    border-radius: 4px;
    padding: 15px;
    margin-top: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    /*position: relative;*/
}

p.comment-author {
    font-style: italic;
    font-size: 14px;
    color: var(--post-data);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

p.comment-author-comment {
    font-size: 15px;
    color: var(--text-color-dark);
    margin-bottom: 5px !important;
}

.post-comments-link {
    display: inline-block;
    background-color: var(--button-background);
    color: var(--text-color-light);
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.post-comments-link:hover {
    /*background-color: #45a049;*/
    *background-color: var(--button-hover);
    transform: translateY(-2px); /* Lekki efekt unoszenia */
}

.post-comments-link:active {
    background-color: var(--buton-active);
    transform: translateY(0); /* Resetuje efekt unoszenia */
}


img.post-attachment {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    border: 1px dashed var(--border-color);
    display: block;
    margin-bottom: 10px;
}

form#edit-user-post div.attachment-section p {
    font-weight: bold;
    margin-bottom: 0;
}

form#edit-user-post button[type="submit"] {
    margin-top: 10px;
}

.add-post-link {
    padding: 15px 50px;
}

/* Zarzadzanie postami uzytkownika  */
div.post .edit-link, div.post button.delete-button {
    font-size: 1em;
}

.post-link {
    margin-top: 0;
    margin-right: 20px;
}

/*.edit-link {*/
/*    background-color: var(--border-color);*/
/*    color: var(--text-color-dark);*/
/*}*/

/*.edit-link:hover {*/
/*    background-color: var(--hover-color);*/
/*}*/

/*button.delete-button {*/
/*    border: none;*/
/*    line-height: normal;*/
/*    background-color: var(--delete-text);*/
/*    !*padding: 10px;*!*/
/*}*/

/*button.delete-button:hover {*/
/*    background-color: var(--red-hover-text);*/
/*}*/


/* Style dla strony z wybranym postem */
article#comments-section {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--background-light);
}

article#comments-section h4 {
    font-size: 1.4em;
    margin-bottom: 15px;
    font-weight: bold;
}

article#comments-section h5 {
    font-size: 1em;
    margin-bottom: 5px;
    font-weight: bold;
}

div.comment-container {
    margin-top: 10px;
}

div.comment {
    background-color: var(--text-color-light);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*p.comment-author {*/
/*    font-style: italic;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/

/*p.comment-author-email {*/
/*    font-style: italic;*/
/*}*/

/*p.comment-text {*/
/*    margin-bottom: 5px;*/
/*}*/

