body {
    font-family: Arial, sans-serif;
    background-color: var(--background-light);
    text-align: center;
    padding: 50px;
}

h1 {
    color: var(--error-pages-header);
}

p {
    color: var(--text-color-dark);
}