section.drag-section div#drag-racers-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.drag-section canvas {
    border: 1px solid var(--text-color-light);
    background-color: var(--game-black);
}

section.drag-section p {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

section.drag-section div#progress-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

section.drag-section div#progress-container progress {
    width: 200px;
    height: 20px;
    margin: 0 30px 0 10px; /* gora 0, prawo 30, dol 0, lewo 10 */
}