form#add-comment-form fieldset {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form#add-comment-form legend {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

form#add-comment-form label {
    font-weight: bold;
}

form#add-comment-form input[type="text"],
form#add-comment-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form#add-comment-form textarea {
    resize: vertical;
    height: 200px;
}

button.form-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.form-button:hover {
    background-color: #218838;
}

form#add-comment-form span.error {
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    color: red;
    font-weight: bold;
    display: block;
}

form#add-comment-form .input-error input:-webkit-autofill   {
    background-color: #dcbb17 !important; /* Ustawienie tła */
    color: #1a1a1a !important; /* Ustawienie koloru tekstu */
    border: 5px solid #4CAF50 !important; /* Dodanie stylu ramki */
}

form#add-comment-form .input-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Add Comment Previw */
section.add-comment-preview-section p {
    margin-bottom: 5px !important;
}

div.comment-preview {
    margin-bottom: 20px;
}

/* Captcha */
form#add-comment-form table button img {
    width: 100px;
    height: 100px;
}

form#add-comment-form table button {
    background-color: #fff;
}

form#add-comment-form table button:hover {
    background-color: #c6baba;
}

form#add-comment-form table button.checked-captcha-button {
    border: 3px solid #218838;
}

form#add-comment-form span#captcha-error {
    margin-top: 20px;
}

/* BBCode Editor */
form#add-comment-form div.bbcode-toolbar button {
    background-color: #d3d3d3;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 8px 2px; /* 4px gora, 8px lewo-prawo, 2px dol */
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Płynna zmiana koloru przy najechaniu */
}

form#add-comment-form div.bbcode-toolbar button:hover {
    background-color: #b0b0b0; /* Ciemniejszy odcień szarości przy najechaniu */
}

form#add-comment-form label.textarea-label {
    display: flex; /* Ustawienie tekstu i ikony info w jednej linii */
    align-items: center; /* Wyrownanie tekstu i ikony w pionie */
    gap: 8px; /* Odstep miedzy elementami */
}

form#add-comment-form img#bbcode-img {
    /* Ikona info */
    height: 14px;
    width: 14px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #f0f0f0;
    display: inline-block;
    box-sizing: content-box; /* Padding i obramowanie beda wokół ikony */
    position: relative;
}

form#add-comment-form div.bbcode-tooltip-text {
    /* Dymki pomocy */
    display: none; /* Domyslnie ukryty */
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    font-weight: bold;
}

form#add-comment-form .bbcode-info:hover + div.bbcode-tooltip-text,
form#add-comment-form .bbcode-info:hover div.bbcode-tooltip-text {
    display: block; /* Pokaz dymek po najechaniu */
}

form#add-comment-form div.bbcode-toolbar button img {
    /* Ikony edytora */
    height: 14px;
    width: auto;
}


