div#snake-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid #fff;
    background-color: #000;
}

span#game-info {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: var(--primary-color);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table#snake-scores {
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    text-align: center;
    font-size: 16px;
    background-color: var(--background-light);
    color: var(--text-color-dark);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    overflow: hidden;
}

table#snake-scores caption {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 10px;
}

table#snake-scores th {
    padding: 10px;
    background-color: var(--hover-color);
    color: var(--text-color-dark);
    text-transform: uppercase;
    border-bottom: 2px solid var(--border-color);
}

/* Nieparzyste wiersze */
table#snake-scores tbody tr:nth-child(odd) {
    background-color: var(--background-light);
}

/* Parzyste wiersze */
table#snake-scores tbody tr:nth-child(even) {
    background-color: var(--background-dark);
}

table#snake-scores td {
    padding: 8px;
    border: 1px solid var(--border-color);
}

table#snake-scores tbody tr:hover {
    background-color: var(--hover-color);
    color: var(--text-color-dark);
}