form.add-form fieldset {
    background-color: var(--background-light);
    border: 1px solid var(--pagination-background);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form.add-form legend {
    font-weight: bold;
    color: var(--text-color-dark);
    float: none;
    width: auto;
    margin-bottom: 2px;
}

form#add-comment-form legend {
    font-size: 1.2em;
}

form#add-post-form legend,
form#edit-user-form legend {
    font-size: 1.6em;
}

form.add-form label {
    font-weight: bold;
    color: #000;
    border-color: #000;
}

form.add-form input[type="text"],
form.add-form input[type="email"],
form.add-form input[type="number"],
form.add-form textarea,
fieldset#edit-password input,
fieldset#edit-password textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--text-color-dark);
    border-radius: 3px;
}

/*form#edit-user-form input {*/
/**/
/*}*/

form.add-form textarea {
    resize: vertical;
    height: 200px;
}

button.form-button {
    background-color: var(--button-background);
    color: var(--text-color-light);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
}

button.form-button:hover {
    background-color: var(--button-hover);
}

form.add-form span.error {
    font-size: 0.9em;
    margin-top: -10px;
    margin-bottom: 10px;
    color: var(--error-text);
    font-weight: bold;
    display: block;
}

/*form.add-form .input-error input:-webkit-autofill   {*/
/*    background-color: #dcbb17 !important; !* Ustawienie tła *!*/
/*    color: #1a1a1a !important; !* Ustawienie koloru tekstu *!*/
/*    border: 5px solid #4CAF50 !important; !* Dodanie stylu ramki *!*/
/*}*/

/*.invalid-input {*/
/*    color: var(--error-text);*/
/*    border-color: var(--error-text);*/
/*}*/
/**/
/*.invalid-input {*/
/*    color: var(--primary-color);*/
/*    border-color: var(--primary-color);*/
/*}*/

form.add-form .invalid-input:-webkit-autofill {
    /*-webkit-box-shadow:0 0 0 50px #ffe6e6 inset; !* Change the color to your own background color *!*/
    -webkit-box-shadow: 0 0 0 50px var(--error-background) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--error-text);
}

form.add-form .valid-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #e6ffe6 inset; /* Change the color to your own background color */
    -webkit-text-fill-color: var(--button-hover);
}

form#edit-user-form input[readonly] {
    background-color: var(--background-light);
    color: var(--readonly-input);
    border: 1px solid var(--readonly-input);
    cursor: not-allowed;
    opacity: 0.7;
}


/* STARE */
form.add-form.input-error {
    /*background-color: var(--error-background);*/
    /*color: var(--error-text);*/
    /*border: 1px solid var(--error-border);*/
}

/* Add Comment Previw */
section.add-comment-preview-section p {
    margin-bottom: 5px !important;
}

div.comment-preview {
    margin-bottom: 20px;
}

/* Captcha */
form.add-form table button img {
    width: 100px;
    height: 100px;
}

form.add-form table button {
    background-color: var(--background-light);
}

form.add-form table button:hover {
    background-color: var(--background-dark);
}

form.add-form table button.checked-captcha-button {
    border: 3px solid var(--button-background);
}

form.add-form span#captcha-error {
    margin-top: 20px;
}

/* BBCode Editor */
form.add-form div.bbcode-toolbar button {
    background-color: var(--bbcode-button-background);
    color: var(--text-color-dark);
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 4px 8px 2px; /* 4px gora, 8px lewo-prawo, 2px dol */
    font-size: 0.9em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Płynna zmiana koloru przy najechaniu */
}

form.add-form div.bbcode-toolbar button:hover {
    background-color: var(--bbcode-button-hover); /* Ciemniejszy odcień szarości przy najechaniu */
}

form.add-form label.textarea-label {
    display: flex; /* Ustawienie tekstu i ikony info w jednej linii */
    align-items: center; /* Wyrownanie tekstu i ikony w pionie */
    gap: 8px; /* Odstep miedzy elementami */
}

form.add-form img#bbcode-img {
    /* Ikona info */
    height: 14px;
    width: 14px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: var(--border-color);
    display: inline-block;
    box-sizing: content-box; /* Padding i obramowanie beda wokół ikony */
    position: relative;
}

form.add-form div.bbcode-tooltip-text {
    /* Dymki pomocy */
    display: none; /* Domyslnie ukryty */
    position: absolute;
    background-color: var(--text-color-dark);
    color: var(--text-color-light);
    padding: 8px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
    font-weight: bold;
}

form.add-form .bbcode-info:hover + div.bbcode-tooltip-text,
form.add-form .bbcode-info:hover div.bbcode-tooltip-text {
    display: block; /* Pokaz dymek po najechaniu */
}

form.add-form div.bbcode-toolbar button img {
    /* Ikony edytora */
    height: 14px;
    width: auto;
}

/* EDIT USER FORM */
form#edit-user-form fieldset#edit-password legend {
    font-size: 1.2em;
}

button.edit-profile-button {
    padding: 5px 15px;
}

form#edit-user-form label.invalid-label {
    color: var(--error-text);
}

form#edit-user-form label.valid-label {
    color: var(--primary-color);
}

form#edit-user-form label.invalid-field {
    border-color: var(--error-text);
}

form#edit-user-form label.valid-field {
    border-color: var(--primary-color);
}

form#edit-user-form label.edited-label {
    color: var(--edited-input);
}

form#edit-user-form


