section.blackjack-section ul {
    list-style-type: square;
}

div#blackjack-game {
    display: block;
    margin: 0 auto;
    text-align: center;
    /*border: 1px solid gray;*/
    border: 1px solid var(--border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 0;
}

div#blackjack-game h2 {
    margin-bottom: 10px;
}

div#blackjack-game div.card-container {
    display: inline-block;
    margin: 5px;
    text-align: center;
}

div#blackjack-game img {
    width: 100px;
    height: auto;
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
}

div#blackjack-game label {
    display: block;
}

div#blackjack-game input[type="checkbox"] {
    margin-top: 5px;
    font-size: 14px;
    color: var(--text-color-dark);
}

form#blackjack-form button[type="submit"] {
    width: 80%;
    max-width: 25vw;
    display: block;
    padding: 10px;
    margin: 11px auto;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
}

form#blackjack-form button[type="submit"]:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}