div#whack-game table {
    border: 1px solid var(--game-black);
    margin: 0 auto;
    border-collapse: collapse;
}

div#whack-game table td {
    border: 1px solid var(--game-black);
    width: 125px;
    height: 125px;
    position: relative;
}

div#whack-game table td img {
    max-width: 95%;
    max-height: 95%;
    top: 50%;
    left: 50%;
}

div#whack-game p {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

section.whack-section div#levels-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

section.whack-section button {
    width: 20%;
    padding: 5px;
    margin: auto 5px;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    border: none;
    border-radius: 4px;
    font-size: 0.9em;
}

section.whack-section div#end-game-button {
    display: flex;
    justify-content: center;
}

section.whack-section div#end-game-button button {
    padding: 10px;
    width: 25%;
    text-align: center;
}

section.whack-section button.hover-style:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

section.whack-section button:disabled {
    background-color: var(--readonly-input);
    cursor: not-allowed;
}

section.whack-section button.clicked-button {
    background-color: var(--button-hover);
}